{% extends 'base.html' %}
{% load static %}


{% block body %}
<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">All Product</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="mx-3" href="/products/Samsung/">Samsung</a>
                <a class="mx-3" href="/products/Apple/">Apple</a>
                <a class="mx-3" href="/products/Vivo/">Vivo</a>
                <a class="mx-3" href="/products/Huawei/">Huawei</a>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% for i in cards %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="100%" height="225" style="object-fit: contain;" src="{{ i.image.url }}" alt="">
                        <div class="card-body">
                            <h3>{{ i.title }}</h3>
                            <p class="card-text">{{ i.price }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/detay/{{ i.id }}/" class="btn btn-sm btn-outline-secondary">Detay</a>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>

</main>
{% endblock body %}
    
